<% content_for :controls do %>
  <div class="controls">
    <div class="container">

      <div class="move-container">
        <a href="#" class="move-slide" id="move-left" onclick="goPrevious()">&lt;</a>
        <a href="#" class="move-slide" id="move-right" onclick="goNext()">&gt;</a>
      </div>
 HEAD
      <div id="pageTrackers">

  
      </div>


      <%= link_to "End Presentation", dashboard_path, class: "btn btn-blue btn-end" %>

    </div>
  </div>
<% end %>

<div class="presentation-container">
  <canvas id="the-canvas" style="border:1px solid black"></canvas>
</div>

<div class="question-container">
  <h2>Questions:</h2>

  <div class="enter-question">
	<%= form_for @question do |f| %>
  		<div class="field">
    		<%= f.text_area :content, placeholder: "Enter questions here....", :size => "30x" %>
  		</div>
  		<%= f.submit "Ask", class: "btn btn-large btn-blue" %>
  	<% end %>
  </div>

  <div class="question-item item-blue">
    <p>How can I convey my message effectively in 10 seconds?</p>
  </div>

  <div class="question-item item-green">
    <p>Can you explain the theorem you used in question 2?</p>
  </div>

  <div class="question-item item-purple">
    <p>Is this the real life?</p>
  </div>

</div>




<!-- Use latest PDF.js build from Github -->

  <script type="text/javascript" src="https://raw.github.com/mozilla/pdf.js/gh-pages/build/pdf.js"></script>
  <%= javascript_include_tag :presentation %>
  

