<% if params[:student].present? %>

<div class="student-header">
  <div class="container">
    <div class="row">
      <div class="span-16">

        <a href="#" id="star-slide" class="btn btn-green left">Star slide</a>
        <a href="#" id="add-notes" class="btn btn-blue right">Add notes</a>

      </div>
    </div>
  </div>
</div>

<% elsif signed_in? %>

  <% content_for :controls do %>
    <div class="controls">
      <div class="container">

        <div class="move-container">
          <a href="#" class="move-slide" id="move-left" onclick="goPrevious()">&lt;</a>
          <a href="#" class="move-slide" id="move-right" onclick="goNext()">&gt;</a>
        </div>

        <div class="pageTracker-container">
          <div id="pageTrackers"></div>
        </div>

        <!-- <input type="submit" value="random ??" id="random" /> -->

          <%= link_to "End Presentation", dashboard_path, class: "btn btn-blue btn-end" %>

          <div class="active-count">
            <span class="visitor_hits">1</span> Users
          </div>

      </div>
    </div>
  <% end %>

<% end %>

<div class="presentation-container <%= params[:student].present? ? 'student-pres' : '' %>">
  <canvas id="the-canvas"></canvas>
</div>

<% if params[:student].blank? && signed_in? %>
  <div id="questions" class="question-container">
    <h2>Questions:</h2>

   <div class="question-item item-blue">
      <p>How can I set up FollowAlong at my institution?</p>
    </div>

  <!--
    <div class="question-item item-green">
      <p>Can you explain the theorem you used in question 2?</p>
    </div>

    <div class="question-item item-purple">
      <p>Is this the real life?</p>
    </div> -->
  </div>
<% end %>

<% if params[:student].present? %>
<div class="enter-question-container">
  <div class="container">
    <div class="row">
      <div class="span-8 offset-4">

        <%= form_for @question do |f| %>
          <div class="field">
            <%= f.text_area :content, placeholder: "Enter questions here....", :size => "30x" %>
          </div>
          <%= f.submit "Ask Question", class: "btn btn-blue" %>
        <% end %>

      </div>
    </div>
  </div>
</div>
<% end %>



  <script type="text/javascript" src="https://raw.github.com/mozilla/pdf.js/gh-pages/build/pdf.js"></script>

  <script src="http://js.pusher.com/1.12/pusher.min.js"></script>
  <%= javascript_include_tag :presentation, :channels %>

