<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width">
  <title>FollowAlong | <%= yield(:title) %></title>
  <%= stylesheet_link_tag :followalong %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!-- <link rel="shortcut icon" type="image/ico" href="/favicon.gif" /> -->


</head>
<body>

  <%# if signed_in? %>
    <%= render 'shared/header' %>
  <%# else %>
    <%#= render 'shared/static_header' %>
  <%# end %>

  <%= yield :controls %>

  <%= yield %>



  <%= yield :javascript_includes %>

</body>
</html>
