<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width">
  <title>FollowAlong | <%= yield(:title) %></title>
  <%= stylesheet_link_tag :followalong %>
  <%= csrf_meta_tags %>
  <!-- <link rel="shortcut icon" type="image/ico" href="/favicon.gif" /> -->


</head>
<body>
  <!--header-->
  <div id="header">
    <%= render :partial => "layouts/header" %>
  </div>
  <!--/header-->

  <%# if signed_in? %>
    <%= render 'shared/header' %>
  <%# else %>
    <%#= render 'shared/static_header' %>
  <%# end %>

  <div class="<%= params[:controller] == "home" ? '' : 'container' %>">

    <%= yield %>

    <%= render "shared/footer" %>

  </div><!-- .container -->


  <%= javascript_include_tag "application" %>
  <%= yield :javascript_includes %>

</body>
</html>
